
.header {
	background-color: #2A396B;
	height: 55px;
	color: white;
	font-size: 20px;
}

.fa {
	margin:15px;
}
.logo {
	color:white;
}

.top-menu ul li a {
	margin: -37px 25px;
	font-size: 15px;
	padding: 5px;
}

.btn {
	color: white;	
	background-color: #C035DE;
	height: 30px;
	width: 90px;
	border-style: none;
}


#sidebar {
	background-color: #2A396B;
	color: white;
	padding: 5px;
	position: relative;
	float: left;
}

.sidebar-menu {
	padding-left: 10px;
}
li, a, span.sub-menu {
	list-style: none;
	padding: 8px;
	font-size: 13px;
	color:white;
}

.botones {
	position: relative;
}

li.sub-menu:hover{
	background-color: #C035DE;
	color: white;
}

