
.header {
	background-color: #2A396B;
	height: 45px;
	color: white;
}

.fa {
	margin:15px;
}
.logo {
	color:white;
	
}
.top-menu ul{
	margin: -24px 10px;
	font-size: 12px;
	
}

.logout {
	color: white;	
	margin: -10px 15px;
	background-color: #C035DE;
	border-radius: 7px;
}

.nav-collapse{
	background-color: #2A396B;
	position: relative;
	float: left;
	color: white;
}

